.rating {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #393e46;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green{
    color: green;
}
.yellow{
    color: yellow;
}

.card{
    background-color: #393e46!important;
    border: #393e46!important;
    color: #fff;
}

.form-control{
    background-color: #393e46!important;
    border: #222831!important;
    color: #eeeeee!important;
}

.overview{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    transition: .2s all linear;
    transform: translateY(100px);
    opacity: 0;
}

.card:hover .overview{
    transform: translateY(0px);
    opacity: 1;
    background-color:   #393e46;
}

